public/fusebox/fuse3.7.1.js
public/fusebox/fuse4.alpha.10.js
public/fusebox/fuse4.alpha.10.ts
public/fusebox/tsconfig4.alpha.json
public/fusebox/tsconfigSav.json
public/fusebox/tsconfigY.json
public/packageX.json
.DS_Store
copyjs.sh
public/rollup/build/build/*
gitX/*
public/parcel/build/.cache
public/parcel/build/.X*
public/parcel/build/.Y*
public/.Y*
public/.X*
public/.cache
public/rollup/build/bundle.css
public/.fusebox
node_modules/
nbproject
public/fusebox/appl/.cache
public/.cache
public/.editorconfig
public/dev-*
public/package_1.json
public/*.dat
/dist/
/dist2/
/public/dist_test/*
/public/dist/
public/webpack/test/e2e/reports
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/
/test/e2e/reports/
selenium-debug.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
